# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Environment variables
.env
.env.local

# OS/system files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
